OdometerApp/*/*.iml
OdometerApp/*/.gradle
OdometerApp/*/local.properties
OdometerApp/*/.idea/caches
OdometerApp/*/.idea/libraries
OdometerApp/*/.idea/modules.xml
OdometerApp/*/.idea/workspace.xml
OdometerApp/*/.idea/navEditor.xml
OdometerApp/*/.idea/assetWizardSettings.xml
OdometerApp/*/.DS_Store
OdometerApp/*/build
OdometerApp/*/captures
OdometerApp/*/.externalNativeBuild
OdometerApp/*/.cxx
OdometerApp/*/local.properties
OdometerApp/*/shelf/
OdometerApp/*/workspace.xml
OdometerApp/*/build